$accent: #b33951;
$border-width: 1.5px;
$border-width-focused: 3px;
$border: $border-width solid white;
$small-padding: 12px;
$medium-padding: 24px;
$large-padding: 64px;
$border-radius: 15px;
$animation-time: 200ms ease;
$breakpoint: 700px;
$height-breakpoint: 500px;
$large-icon: 48px;
$small-icon: 32px;
$bright-decla: #4069a5;
$bright-red: #d15652;
$bright-neutral: #ccc;

:root {
  --bright-decla: #{$bright-decla};
  --bright-red: #{$bright-red};
  --bright-neutral: #{$bright-neutral};
}
