$breakpoint: 800px;

* {
  margin: 0;
  box-sizing: border-box;
  color: white;
}

html {
  background-color: linear-gradient(45deg, #103783, #9bafd9);

  @media (max-width: $breakpoint) {
    font-size: 0.7rem;
  }
}

html,
body,
canvas#main {
  height: 100%;
  width: 100%;
}

body {
  #overlay {
    margin: 0.5rem 1.25rem;
    position: absolute;
    right: 0;
    font-size: 0.75rem;
    white-space: pre;
    font-family: 'Lucida Console', Monaco, monospace;

    @media (max-width: $breakpoint) {
      font-size: 0.6rem;
    }
  }
}
